.name {
    background-color: #4aaaa5;
    padding: 20px;
    float: left;
    top: 20px;
   
}

h1 {
    color: #ffffff;
}

header {
    background-color: #ffffff;
}
/* header {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px; 
    border-bottom: solid grey;
    border-color: #cccccc;
} */

.topnav {
    height: 75px;
    background-color:#ffffff;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    /* border-bottom: solid grey; */
    border-color: #cccccc;
}

.headerStyle {
    border-bottom: solid grey;
}
body {
    background-image: url("https://github.com/amirahislam/Basic-Portfolio/blob/master/assets/images/dust_scratches.png?raw=true");
    
}
.aboutMe {
    width: 960px;
    text-align: left;
    background-color: #ffffff;
    margin: auto;

}

h2 {
    color: #4aaaa5;
    padding: 20px;
}
.box {
    width: 960px;
    padding: 20px;
    /* margin: auto; */
    /* margin: 20px;
    padding: 20px; */

}

.floatImage {
    float: left;
    margin-right: 10px;
    margin-bottom: 1px;
    padding: 20px;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    color: #666666
}

footer {
    height: 75px;
    background-color: #666666;
    border-top: solid #4aaaa5;
}
/* Add a black background color to the top navigation */


/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    /* background-color: #f2f2f2; */
    text-align: left;
    padding: 38px 12px;
    text-decoration: none;
    font-size: 17px;
    /* border-right: solid #666666 2px; */
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.form {
    width: 400px;
    padding: 20px;
    background: #ffffff;
    margin: auto;

}

input {
    width: 100%;
    padding: 2px;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;

}

.button {
    text-decoration: none;
    background: #4aaaa5;
    color: #ffffff;
    display: block;
    width: 100px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.portfolioBox {
    width: 960px;
    height: 960px;
    padding: 20px;
    background: #ffffff;
    margin: auto; 
}

.photo {
    float: left;
    padding: 40px
}

.imageText {
    width: 100%;
    position: relative;
    margin-top: -30%;
}

.imageText h3 {
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    border-top: solid #4aaaa5 5px;
    border-bottom: solid #4aaaa5 5px;
}

